body {
  padding: 0;
  background-color: #ebebeb;
}

.sign-up h1{
  text-transform: uppercase;
}

.sign-up h5{
  text-transform: uppercase;
  font-weight: bold;
  color: #fa9220;
}

.sign-up a {
    color: #fa9220;
}

.sign-up .form-check-label {
  font-weight: normal;
}

.sign-up button {
  margin-top: 20px;
  padding: 10px 15px 10px 15px;
  background-color: #1fa5ff;
  border: 0px;
}

.sign-up .btn .image {
  margin-left: 10px;
}

.sign-up .card {
  background-color: white;
  border: 1px solid #dbd6d1;
  padding: 30px 20px 30px 20px;
}

.sign-up .alert {
  margin-top: 10px;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 400px;
  }
}