<div class="sign-up">

  <h1>Sign up <b> for PWS</b> </h1>
  <h5>It only takes a moment</h5>

  <div class="card">
    <p>Please enter your details.</p>

    <form name="form" role="form" ng-submit="ctrl.signUpUser()">
      <div class="form-group">
        <input type="email" class="form-control" ng-model="ctrl.user.email" name="email" id="email" placeholder="Email" required>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" ng-model="ctrl.user.password" name="password" id="password" placeholder="New password"
          required>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" ng-model="ctrl.user.passwordCheck" name="passwordCheck" id="passwordCheck" placeholder="Confirm new password"
          required>
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" required>
          I agree to TNT's <a href="http://www.tnt.com/express/en_gb/site/home/terms-conditions.html" target="_blank"> terms and conditions </a>
        </label>
      </div>

      <button type="submit" class="btn btn-primary" ng-disabled="ctrl.loading">
        <div> Next <span class="image glyphicon glyphicon-play-circle" aria-hidden="true"></span> </div>
      </button>

      <div ng-show="ctrl.isUserRegistered" class="alert alert-success" role="alert">
        You have received an e-mail to confirm your registration.
      </div>

      <div ng-show="ctrl.hasServerError" class="alert alert-danger" role="alert">
        Something went wrong. Please try again later.
      </div>

      <div ng-show="ctrl.errorMessage" class="alert alert-danger" role="alert">
        {{ ctrl.errorMessage }}
      </div>

    </form>

  </div>

</div>